Repository rahulssv/Docker: changes, and which CircleCI parameters are due for each by the changed paths.
All: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18, registrator-v1.0.1-alpine3.17

Update config.yml
  .circleci/config.yml
Due: none

testes
  .circleci/config.yml
  .circleci/nada.yml
  .circleci/registrator-v1.0.1-alpine3.17.yml
  .circleci/registrator-v1.0.1-alpine3.18.yml
  .circleci/registrator-v1.0.1-alpine3.19.yml
Due: none

Update Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19

testes
  .circleci/config.yml
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18

testes
  .circleci/config.yml
  .circleci/nada.yml
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
Due: registrator-v1.0.1-alpine3.18

testes
  .circleci/registrator-v1.0.1-alpine3.17.yml
  .circleci/registrator-v1.0.1-alpine3.18.yml
  .circleci/registrator-v1.0.1-alpine3.19.yml
Due: none

testes
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18

testes
  .circleci/config.yml
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
Due: registrator-v1.0.1-alpine3.18

teste
  .circleci/config.yml
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
Due: registrator-v1.0.1-alpine3.18

a
  .circleci/config.yml
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
Due: registrator-v1.0.1-alpine3.18

testes
  .circleci/registrator-v1.0.1-alpine3.18.yml
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
Due: registrator-v1.0.1-alpine3.18

testes
  .circleci/config.yml
  .circleci/mapping.conf
  .circleci/nothing-to-do.yml
  .circleci/registrator/v1.0.1-alpine3.17.yml
  .circleci/registrator/v1.0.1-alpine3.18.yml
  .circleci/registrator/v1.0.1-alpine3.19.yml
  imagens/registrator/v1.0.1-alpine3.17/Dockerfile
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18, registrator-v1.0.1-alpine3.17

teste
  .circleci/registrator/v1.0.1-alpine3.17.yml
  .circleci/registrator/v1.0.1-alpine3.18.yml
  .circleci/registrator/v1.0.1-alpine3.19.yml
  imagens/registrator/v1.0.1-alpine3.17/Dockerfile
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18, registrator-v1.0.1-alpine3.17

update
  imagens/registrator/v1.0.1-alpine3.17/Dockerfile
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18, registrator-v1.0.1-alpine3.17

testes
  .circleci/caddy/2.7.6.yml
  .circleci/mapping.conf
  .circleci/registrator/v1.0.1-alpine3.17.yml
  .circleci/registrator/v1.0.1-alpine3.19.yml
Due: none

testes
  imagens/caddy/2.7.6/Dockerfile
  imagens/registrator/v1.0.1-alpine3.17/Dockerfile
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18, registrator-v1.0.1-alpine3.17

update
  .circleci/caddy/2.7.6.yml
  .circleci/registrator/v1.0.1-alpine3.17.yml
  .circleci/registrator/v1.0.1-alpine3.18.yml
  .circleci/registrator/v1.0.1-alpine3.19.yml
  imagens/caddy/2.7.6/Dockerfile
  imagens/registrator/v1.0.1-alpine3.17/Dockerfile
  imagens/registrator/v1.0.1-alpine3.18/Dockerfile
  imagens/registrator/v1.0.1-alpine3.19/Dockerfile
Due: registrator-v1.0.1-alpine3.19, registrator-v1.0.1-alpine3.18, registrator-v1.0.1-alpine3.17

testes
  .circleci/caddy/2.7.6.yml
  imagens/caddy/2.7.6/Dockerfile
Due: none

bkp
  -------.github/workflows/1 - todos.yml
  -------.github/workflows/aspnet.yml
  -------.github/workflows/caddy.yml
  -------.github/workflows/php-fpm.yml
  -------.github/workflows/registrator.yml
  -------.github/workflows/ts3audiobot.yml
Due: none

teste
  .circleci/caddy/2.7.6.yml
  .circleci/config.yml
  imagens/caddy/2.7.6/Dockerfile
Due: none

Update 2.7.6.yml
  .circleci/caddy/2.7.6.yml
Due: none

Update Dockerfile
  imagens/caddy/2.7.6/Dockerfile
Due: none

Path conditions:
  registrator-v1.0.1-alpine3.19: any of: imagens/registrator/v1.0.1-alpine3.19/.*
  registrator-v1.0.1-alpine3.18: any of: imagens/registrator/v1.0.1-alpine3.18/.*
  registrator-v1.0.1-alpine3.17: any of: imagens/registrator/v1.0.1-alpine3.17/.*
